.student-item-wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: skyblue;
    padding: 5px;
}

.student-header {
    color: blue;
}