* {
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0px auto;
    margin-top: 10%;
    background-color: rgb(117, 113, 113);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-item {
    margin: 10px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 2px;

}

.input-label {
    color: aliceblue;
}

.form-button {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    padding: 10px;
}

.data-added {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}